# JGit/EGit does fully support gitattributes at this time. Follow bug 342372
# https://bugs.eclipse.org/bugs/show_bug.cgi?id=342372


*       text=auto

*.aggrcon    text
*.aggr       text
*.prefs        text
*.xml          text