Adolfo Sanchez-Barbudo Herrera <adolfosbh@gmail.com>
Adolfo Sanchez-Barbudo Herrera <adolfosbh@gmail.com> Adolfo SBH <adolfosbh@opencanarias.com>
Adrian Sacchi  <adrian.sacchi@bsiag.com>
Ahmed Samir Wafa <ahmed.samir.wafa@gmail.com> awafa
Alex Boyko  <aboyko@ca.ibm.com>
Alex Kurtakov  <akurtako@redhat.com>
Alex Lagarde  <alex.lagarde@obeo.fr>
Alex Panchenko <alex.panchenko@gmail.com> DLTK Build Team  <alex.panchenko@gmail.com>
Alexander Gurov  <alexander.gurov@polarion.com>
Alexander Nyssen  <alexander.nyssen@itemis.de>
Andreas Hoegger  <andreas.hoegger@bsiag.com>
Andreas Sewe  <andreas.sewe@codetrails.com>
Anthony Hunter <anthonyh@ca.ibm.com> ahunter <ahunter>
Antoine Toulme  <antoine@lunar-ocean.com>
Artem Tikhomirov  <tikhomirov.artem@gmail.com>
Ashwani Kr Sharma  <ashw.kumar@gmail.com>
Ben Gamble  <bgamble@actuate.com>
Benjamin Cabe  <BCabe@sierrawireless.com>
Benjamin Muskalla  <benjamin.muskalla@tasktop.com>
Benoit Langlois  <benoit.langlois@thalesgroup.com>
Beth Tibbitts  <beth@tibweb.com> <tibbitts@us.ibm.com>
Boris Gruschko  <boris.gruschko@sap.com> EMF TRANSACTION Build Team  <boris.gruschko@sap.com>
Brian Payton  <bpayton@us.ibm.com>
Camille Letavernier  <camille.letavernier@cea.fr>
Carl Anderson  <ccc@us.ibm.com>
Carsten Reckord  <reckord@yatta.de>
Cedric Brun  <cedric.brun@obeo.fr>
Chris Aniszczyk  <caniszczyk@gmail.com>
Christian Campo  <Christian.Campo@compeople.de> <Christian.Campo@compeople.de>
Christian Saad  <saad@informatik.uni-augsburg.de> <chsaad>
Colin Ritchie  <colin.ritchie@tasktop.com>
Daniel Barboza Franco  <nkvg64@motorola.com>
Daniel Drigo Pastore  <kpqb38@motorola.com>
David Dykstal  <david_dykstal@us.ibm.com>
David Green  <david.green@tasktop.com>
David Williams  <david_williams@us.ibm.com> <david_williams@acmorg>
Dawid Pakula  <zulus@w3des.net>
Dennis Huebner  <dennis.huebner@itemis.de>
Diego Sandin  <diegosandin@gmail.com>
Doug Schaefer <cdtdoug@gmail.com> <dschaefer@qnx.com>
Doug Schaefer <cdtdoug@gmail.com> dschaefer <dschaefer@qnxws9424.local>
Ed Merks <ed.merks@gmail.com>
Ed Willink  <ed@willink.me.uk>
Edgar Mueller  <emueller@eclipsesource.com>
Eike Stepper  <stepper@esc-net.de>
Eric Cloninger  <ericc@motorola.com>
Eric Gwin  <eric.gwin@oracle.com>
Erwin Margewitsch  <erwin.margewitsch@sap.com>
Fred Bricon  <fbricon@gmail.com>
Gorkem Ercan  <gorkem.ercan@gmail.com>
Goulwen Le Fur  <goulwen.lefur@obeo.fr>
Greg Watson  <g.watson@computer.org>
Gregoire Dupe  <gdupe@mia-software.com>
Gunnar Wagenknecht  <gunnar@wagenknecht.org>
Gustavo de Paula  <gustavo.eliano@gmail.com>
Henning Heitk&#xf6;tter  <hheitkoetter@gmail.com>
Herbert Neureiter  <herbert.neureiter@sungard.com>
Ian Bull  <irbull@eclipsesource.com>
Idrissa Dieng  <idydieng@gmail.com>
Igor Burilo  <igor.burilo@polarion.org>
Igor Fedorenko  <igor@ifedorenko.com>
Jacek Pospychela  <jacek.pospychala@gmail.com>
Jacek Pospychela  <jacek.pospychala@gmail.com> Jacek Pospychala <jacek.p@zend.com>
Jeff Johnston  <jjohnstn@redhat.com>
Johannes Faltermeier  <jfaltermeier@eclipsesource.com>
Johannes Lerch  <lerch@cs.tu-darmstadt.de>
Judith Gull <jgu@bsiag.com> <Judith.gull@bsiag.com>
Judith Gull <jgu@bsiag.com> Judtih Gull <jgu@bsiag.com>
Judith Gull <jgu@bsiag.com> jgull <jgu@bsiag.com>
Kaloyan Raev  <kaloyan.r@zend.com> <kaloyan.raev@sap.com>
Ken Lee  <ken.lee@bsiag.com>
Kenn Hussey  <Kenn.Hussey@gmail.com>
Kentarou Fukuda  <kentarou@jp.ibm.com>
Konstantin Komissarchik  <konstantin.komissarchik@oracle.com>
Krum Tsvetkov  <krum.tsvetkov@sap.com>
Laurent Redor  <laurent.redor@obeo.fr>
Laurent Goubet  <laurent.goubet@obeo.fr>
M2T JET Build Team  <pelder@ca.ibm.com>
MDT OCL Build Team  <Alexander.Igdalov@gmail.com>
Manuel Bork  <manuel.bork@yatta.de>
Marc Khouzam  <marc.khouzam@ericsson.com>
Marcel Augusto Gorri  <wmg040@motorola.com>
Marcel Bruch  <marcel.bruch@codetrails.com> <bruch@st.informatik.tu-darmstadt.de>
Mark R Russell  <mrrussell@google.com>
Markus Knauer  <mknauer@eclipsesource.com>
Markus Tiede  <Markus.Tiede@bredex.de>
Martin Oberhuber  <martin.oberhuber@windriver.com>
Marvin Mueller  <Marvin.Mueller@bredex.de>
Matthias Sohn  <matthias.sohn@gmail.com>
Matthias Sohn  <matthias.sohn@sap.com>
Michael Golubev  <borlander@gmail.com>
Michael Golubev <golubev@montages.com> mgolubev
Michael Wenz  <michael.wenz@sap.com>
Michal Ruzicka  <michal.ruzicka@cloudsmith.com>
Mickael Istria  <mistria@redhat.com>
Mik Kersten  <mik.kersten@tasktop.com>
Miles Parker  <milesparker@gmail.com>
Nick Boldt  <nboldt@redhat.com>
Nicolas Bros  <nbros.mia@gmail.com>
Oisin Hurley  <oisin.hurley@gmail.com>
Olivier Constant  <olivier.constant@thalesgroup.com>
Pierre-Charles David  <pierre-charles.david@obeo.fr>
Radek Dvorak  <dvorak.radek@gmail.com>
Ralf Sternberg  <rsternberg@eclipsesource.com>
Reiner Hille-Doering  <reiner.hille-doering@sap.com>
Remi Schnekenburger  <remi.schnekenburger@cea.fr>
Robert Brodt  <bbrodt@redhat.com>
Sam Davis  <sam.davis@tasktop.com>
Scott Lewis  <slewis@composent.com>
Sergey Boyko  <serg.boyko2011@gmail.com>
Shawn Pearce  <sop@google.com>
Simon Bernard  <SBernard@sierrawireless.com>
Simone Seurer  <simone.seurer@sungard.com>
St&#xe9;phane Bouchet  <stephane.bouchet@obeo.fr>
Steffen Pingel  <steffen.pingel@tasktop.com>
Stephan Eberle  <stephaneberle9@gmail.com>
Stephan Herrmann  <stephan.herrmann@berlin.de> <stephan@cs.tu-berlin.de>
Stephane Begaudeau  <stephane.begaudeau@obeo.fr>
Stephane Drapeau  <stephane.drapeau@obeo.fr>
Sven Rottstock  <sven.rottstock@sungard.com>
Thomas Hallgren  <thomas@tada.se>
Thorsten Schenkel  <Thorsten.Schenkel@compeople.de>
Tom Schindl  <tom.schindl@bestsolution.at>
Tomasz Zarna  <tomasz.zarna@tasktop.com>
Vincent Lorenzo  <vincent.lorenzo@cea.fr>
Vincent Zurczak  <vincent.zurczak@linagora.com>
Vincent Zurczak <vincent.zurczak@petalslink.com> vzurczak
Wayne Beaton  <wayne@eclipse.org>
William Piers  <william.piers@obeo.fr>
Xiaoying Gu <xgu@actuate.com> Xiaoying <xgu@actuate.com>
Xiaoying Gu <xgu@actuate.com> xgu <xgu@actuate.com>
Xtext, Xpand, MWE Build Team  <alle-ki@itemis.de>
Yong Jiang  <yjiang@actuate.com>
Yves YANG  <yves.yang@soyatec.com>
andrey <andrey@xored.com> DLTK Build Team  <andrey@xored.com>
chezy  <chezy@actuate.com>
mtaal <mtaal@elver.org> EMF TENEO Build Team  <mtaal@elver.org>
pnehrer <pnehrer@eclipticalsoftware.com> EMFT MINT Build Team  <pnehrer@eclipticalsoftware.com>
